<%-include('header');-%>
<h1>    </h1>
<div id="registerForm">    
    <div>
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email"
        required>
    </form>
    </div>
    <div>
        <form action="/login" method="post">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"
            required>
        </form>
        </div>
    <button type="submit" id="register">LogIn</button>
    <a href="/register">Register</a>
</div>
