<%-include('header');-%>
<h1>    </h1>
<div id="registerForm">
    <div>   
    <form action="/register" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name"
    required>
    </form>
    </div>
    <div>
    <form action="/register" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email"
        required>
    </form>
    </div>
    <div>
        <form action="/register" method="post">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"
            required>
        </form>
        </div>
    <button type="submit" id="register">Register</button>
    <a href="/">Home</a>
</div>
